:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.CqlSandbox__debug-container {
  margin-top: 10px;
  white-space: pre;
  font-family: monospace;
}

.CqlDebug__json {
  display: flex;
}

.CqlDebug__json > div {
  display: flex;
  flex-direction: column;
}

.CqlDebug__mapping {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

.Cql__Debug > div {
  flex-grow: 1;
}

.CqlDebug__queryDiagram {
  display: flex;
}

.CqlDebug__queryBox {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 25px;
  padding: 1rem 0;
}

.CqlDebug__queryBox--offset > .CqlDebug__originalChar {
  position: absolute;
  left: 50%;
  top: 0;
}

.CqlDebug__queryBox--offset > .CqlDebug__queryChar {
  position: relative;
  left: -50%;
}

.CqlDebug__queryBox > div {
  width: 1em;
  height: 1rem;
}

.CqlDebug__originalChar {
  background-color: rgb(49, 78, 55);
}

.CqlDebug__queryChar {
  background-color: rgb(49, 78, 55);
}

.CqlDebug__nodeChar {
  background-color: rgb(130, 82, 82);
  position: absolute;
  bottom: 1rem;
  left: -50%;
}

.CqlDebug__node {
  position: relative;
  left: 50%;
  top: 2rem;
  width: 1em;
  transform: rotate(90deg);
}

.CqlDebug__nodeDiagram {
  display: flex;
}

.CqlSandbox {
  margin-top: 30px;
}

.CqlSandbox__query-results {
  display: flex;
}

.CqlSandbox__query-results > div {
  flex-grow: 1;
}

input {
  position: relative;
  padding: 5px;
  border: 2px solid grey;
  border-radius: 5px;
  background: none;
  color: rgba(255, 255, 255, 0.87);
}
